body
{
    font-family: Arial;
    background-color: #FFB18C;
    color: #000099;
    font-weight: bold;
    font-size: 12pt;
    background-image: url('sfondo.png');
    background-repeat: no-repeat;
  	background-size: cover;
}
.titolo1
{
    text-align: center; 
    color: #ffffff
}
.titolo2
{
    text-align:center;
    padding: 5px;
    color: #FFFFFF;
    background-color: #00008A;
}
.titolo3
{
    border: thin solid #000099;
    margin: 8px 4px 4px 4px;
    padding: 2px;
    font-style: italic;
    color: #00008A;
    background-color: #A8D3FF;
    font-size: 11pt;
}
.paragrafo1
{
    margin: 8px 4px 8px 4px;
}
.VoceDownload
{
    font-size: 10pt;
    margin-left: 20px;
    line-height: 15pt;
}
.Evidenza
{
    color: #B00000;
    font-weight: bolder;
}
.EvidenzaPerDownload
{
    color: #FF0000;
    font-style: italic;
}
.tabella
{
    width: 100%;
    border: medium solid #800000;
    text-align: center;
}
.IntestazioniTabella
{
    padding: 10px;
    border: medium inset #000099;
    background-color:#ffab1e;
}
.PiccolaNotaAFondoPagina
{
    width: 100%;
    padding: 5px;
    border: thin solid #000080;
    font-size: 10px;
    font-variant: normal;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #9893FD;
    font-family: Arial;
    text-align: center;
}
.ImmagineGalleria
{
    border: medium ridge #C0C0C0;
    margin: 5px;
    width: 95%;
}
.TdGalleria
{
    padding: 5px;
    text-align: center;
    width: 33%;
}
.TestoRosso {
    color: #FF0000;
}
