<div class="home-container d-flex align-items-center justify-content-center bg-primary">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="row align-items-center justify-content-center text-center vw-100">
      <div class="col-md-3">
        <img class="propic img-fluid" src="/assets/img/homepic.jpg">
      </div>
      <div class="col-md-6 subtitle">
        <h1 class="full-name text-white ps-2" id="fullName"></h1>
        <h2 class="subtitle text-white">Computer Science University Student</h2>
      </div>
    </div>
  </div>
</div>
