/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  src: url('/assets/fonts/TitilliumWeb-Roman-VF.ttf');
  font-family:'Titillium Web';
  font-style: normal;
}

* {
  font-family: "Titillium Web";
}
